:root {
  --body-bg: #1d1d1d;
  --primary-color: white;
  --secondary-color: dimgray;
  --accent-color: cornflowerblue;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg);
  color: var(--primary-color);
}

main {
  width: 60vw;
  margin: 0 auto;
}
