@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
:root {
  --body-bg: #1d1d1d;
  --primary-color: white;
  --secondary-color: dimgray;
  --accent-color: cornflowerblue;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

body {
  background-color: var(--body-bg);
  color: var(--primary-color);
}

main {
  width: 60vw;
  margin: 0 auto;
}

h1,
h2 {
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
}
