.intro {
  margin-bottom: 2rem;
}

.home__topThree__container {
  min-width: max-content;
  width: 100%;
  padding-top: 6rem;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
  gap: 2rem;
  background-color: cadetblue;
}
